/**
 * partials/utils
 * ---
 * Utils classes
 */


// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.reset-box{
	@include reset-box;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.right{
  float:right;
}

.left{
  float:left;
}

.row{
  @include container(100%);
}